.base {
    display: block;
    margin: 0 0.3em;

    &--x {
        width: var(--size, 10px);
        height: 1px;
        border-bottom: 1px solid rgb(var(--border));
    }

    &--y {
        width: 1px;
        height: var(--size, 10px);
        border-right: 1px solid rgb(var(--border));
    }
}