:root {
    --background: 255, 255, 255;
    --color: 30 41 59;

    --btn-hover: 226 232 240;

    --border: 226 232 240;

    .react-qwerty--dark {
        --background: 15 23 42;
        --color: 248 250 252;

        --btn-hover: 51 65 85;

        --border: 71 85 105;
    }
}

.react-qwerty {
    color: rgb(var(--color));

    .tiptap {
        padding: 1em 2em;


        &:focus {
            outline: none;
        }

        p.is-editor-empty:first-child::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
            font-style: italic;
        }

        hr {
            border-color: rgb(var(--border));
        }
    }

}